<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Explore the best restaurant">

    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="icon" href="./favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <title>R2 (Rating Resto)</title>
</head>

<body>
    <a href="#mainContent" class="skip-to-content" tabindex="0">Skip to Content</a>

    <header class="app-bar">

        <div class="app-bar-menu">
            <button id="hamburgerButton" tabindex="0">&#9776;</button>
        </div>

        <div class="app-bar-brand">
            <h1>Rate Resto</h1>
        </div>

        <nav id="navigationDrawer" class="app-bar-navigation">
            <ul>
                <li><a href="#/" tabindex="0">Home</a></li>
                <li><a href="#/favorite" tabindex="0">Favorite</a></li>
                <li><a href="https://github.com/mhmmadfthr/" tabindex="0" target="_blank">About Us</a></li>
            </ul>
        </nav>
    </header>

    <main id="mainContent" tabindex="0">
    </main>

    <footer>
        <p>mhmmadfthr &#169; Rate Restoo</p>
    </footer>
</body>

</html>